@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

$primary-colour: #ff7300;

.VideoPriceWidget {
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;

  h1, h2 {
    text-align: center;
    font-weight: 500;
  }


}