{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Widget</title>
    <link rel="stylesheet" href="https://payments.cardifftec.uk/static/css/payment.css">
</head>
<body>
<div id="order-widget"></div>
<script src="https://payments.cardifftec.uk/static/js/payment.js"></script>
<script src="{% static 'unlocking/order_widget/js/widget.js' %}"></script>
<script>
    window.acceptsHeader = "{{ accepts }}";
    window.makeUnlockingOrderWidget(document.getElementById("order-widget"))
</script>
</body>
</html>